body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: white ;
}

.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
   
}

.sidebar {
  width: 300px;
  background-color: #1a1a1a;
  padding: 40px;
}

.sidebar h1 {
  font-size: 30px;
  margin-bottom: 70px;
}

.sidebar .highlight {
  color: #f7931e;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(187, 184, 184);
  cursor: pointer;
}

.dashboard_main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  padding-bottom: 120px;
  background: center center no-repeat;
  background-size: cover;
}

.center_section{
  max-width: 400px;
}

.committee_text {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.committee_logo {
  width: 60px;
    height: 50px;
    vertical-align: bottom;
    margin-left: 20px;
}

.agenda_label {
  color: #f7931e !important;
  font-weight: bold;
  font-size: 18px;
}

.agenda_text {
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

.country {
  font-size: 32px;
  font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.dashboard_main p{
  color: white;
}

.flag {
    margin-left: 30px;
    height: 30px;
    width: 45px;
}

.label {
  color: #f7931e;
  font-weight: bold;
}

hr {
  border: 0;
  height: 1px;
  background-color: #565451;
  margin: 20px 0;
}   

.stance_label {
  color: #f7931e !important;
  font-weight: bold;
  margin-top: 20px;
}

.stance_text {
  font-size: 18px;
  line-height: 1.5;
  width: 300px;
}

.dashboard_h1{
  font-size: 50px;
  margin-top: 30px;
}

#dashboard_un-logo{
  height: 200px;
  width: 240px;
  margin-top: 80px;
  align-self: center;
}

#loading_text{
  text-align: center;
  align-self: center;
  margin-top: 10px;
}

#loading_text-2{
  color: #95938f;
  margin-top: 5px;
}

.loading{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#dashboard_loading-gif{
  height: 100px;
  width: 100px;
  align-self: center;
}