* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  padding: 2rem;
  padding-top: 30px ;
}

.homepage{
  padding-top: 30px;
}

header .committees {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 50px;
}

.committee {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #ccc;
  font-weight: 600;
  font-size: 30px;
}

.committee img {
  width: 60px;
  margin-bottom: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.highlight {
  color: #ff6a00;
}

.subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.form input {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}

.form input::placeholder {
  color: #888;
}

.form button {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #e65c00;
}

.committee_select {
   width: 100%;
  padding: 0.8rem 1rem;
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}

.orange_logo{
  height: 200px;
  width: 220px;
  align-self: center;
  margin-top: 50px;
}

.block_page{
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.block_page h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  align-self: center;
  text-align: center;
}

.block_page p {
  color: rgb(198, 195, 195);
  max-width: 300px;
  align-self: center;
  text-align: center;
}