.sidebar {
  width: 320px;
  background-color: #1a1a1a;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  font-size: 30px;
  margin-bottom: 70px;
}

.sidebar .highlight {
  color: #f7931e;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(187, 184, 184);
  cursor: pointer;
}

img {
  vertical-align: middle;
  margin-left: 10px;
}

.delete {
  margin-top: 50px;
  cursor: pointer;
}

select {
  width: 200px
}